body {
    background-color: #fcfaf7;
    color: #000000;
    font-family: 'Courier New', Courier, monospace
}

header {
    background-color: #0000003f
    color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.top-menu {
    text-align: center
}

.top-menu ul {
    display:flex;  
    justify-content: space-between;
    list-style: none;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 60px;
    margin-right: 60px;
}

.top-menu li {
    display: inline;xs
}

.top-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

footer {
    background-color: #fcfaf7;
    color: #000000;
    padding: 10px;
    text-align: center;
}

h1 {
    color:#000000;
    font-size: 42pt;
    font-weight: bold;
    text-align: center;
}

.site-title {
    position: relative;
    z-index: 1;
}

ul {
    background-color: #000000;
    padding-top: 120px;
}

main {
    padding-top: 70pX;
}

.titlebild {
    margin: 20px; auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
