
/*about Page*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: none;
    position: fixed;
    width: 98%;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: none;
    padding: 10px 20px;
    width: 98%;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 9;
}

.bar {
    background-color: rgb(0, 0, 0);
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: all 0.3s ease;
}

.menu {
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 60px;
    right: 0;
    width: 25%;
    text-align: center;
    padding: 150px 20px 20px;
    transition: width 0.3s ease; /* Animiere die Breite des Menüs */
    transform: translateX(100%);
    position: fixed;
    height: 100vh;
    top: 0;
}

.menu a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.menu.active {
    display: flex;
    animation: slideIn 0.3s ease forwards;
    width: 25%;
}

.menu.active a {
    opacity: 1;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    -ms-transform-origin-x: 0%;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
    -ms-transform-origin-x: 0%;
}

/*main*/
body {
    background-color: #fcfaf7;
    color: #000000;
    font-family: futura;
}

a {
    font-size: 14pt;;
    color: black;
}

h1 {
    color:#000000;
    font-size: 42pt;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease; /* 1s ist die Dauer der Transition, du kannst es nach Bedarf ändern */
}

.site-title {
    position: relative;
    z-index: 1;
}

ul {
    background-color: #000000;
    padding-top: 120px;
}

main {
    padding-top: 70px;
    padding-left: 250px;
    padding-right: 250px;
    text-align: justify;
}

h2 {
    color:#000000;
    font-size: 32pt;
    font-weight: semibold;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    margin: 0;
}

.fhgr {
    display: flex;
    align-items: center;
    max-width: 50px;
    max-height: 40px;
    margin: 0, 100px;
}

.fhgrbild {
    flex: 0 1 30%; /* 30% Breite für jede PDF bzw. jedes Bild */
    /* Hier weitere Styles für jedes PDF bzw. Bild */
}

/*Bild mit Text*/
.zwei-spalten {
    display: flex;
    max-width: 800px;
}

/* Stil für jede Spalte */
.spalte {
    flex: 1; /* Jede Spalte nimmt den verfügbaren Platz gleichmäßig ein */
    padding-left: 20px; 
    padding-right: 20px; /* Optional: Füge einen Innenabstand hinzu, um den Text vom Rand zu trennen */
}

.spalte img {
    width: 100%;
    height: auto;
}

.spalte p {
    font-family: futura;
    font-size: 14pt;

}

/* Container für das zentrierte Bild mit Link */
.zentriertes-bild-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-decoration: none; 
}

.zentriertes-bild-container {
    text-align: center; /
}

.zentriertes-bild {
    max-width: 100%;
    max-height: 300px;
}

.zweispalten {
    display: flex;
}

.zentriertes-bild-container:hover {
    transform: scale(1.1); /* Ändere den Wert, um die Vergrößerung anzupassen */
    transition: transform 0.3s; /*Anpassen wie schnell es geht*/
}


/*Kontaktformular*/
.kontaktformular {
    max-width: 600px;
    margin: 0 auto;
}

.versteckt {
    display: none;
    margin-top: 20px;
    color: green;
}

/*footer*/
footer {
    background-color: #ddcdc0; 
    text-align: center;
    margin-top: 100px;
    padding: 30px;
   
}

.footer-content {
    display: flex;
    flex-direction: row; /* Behalte row für nebeneinander */
    align-items: center;
    justify-content: center; /* Zentriere den Text horizontal */
    margin: 0 auto; /* Zentriere den Abschnitt horizontal */

}

.footer-content p {
    margin: 20px 150px;
    text-align: center;
    cursor: pointer;

}

.footer-content a {
    text-decoration: underline;
    color: black;
    font-size: 12pt;
    font-weight: bold;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px; /* Negative Margin, gleich der Footer-Höhe */
}

html, body {
    height: 100%;
    margin: 0;
}
