/*Kontakt*/
header {
    font-family: futura;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: none;
    position: fixed;
    width: 98%;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: none;
    padding: 10px 20px;
    width: 98%;
}
.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 9;
}

.bar {
    background-color: rgb(0, 0, 0);
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: all 0.3s ease;
}

.menu {
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 60px;
    right: 0;
    width: 25%;
    text-align: center;
    padding: 150px 20px 20px;
    transition: width 0.3s ease; /* Animiere die Breite des Menüs */
    transform: translateX(100%);
    position: fixed;
    height: 100vh;
    top: 0;
}

.menu a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.menu.active {
    display: flex;
    animation: slideIn 0.3s ease forwards;
    width: 25%;
}

.menu.active a {
    opacity: 1;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

.hamburger-menu.active .bar {
    background-color: whitesmoke;
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    -ms-transform-origin-x: 0%;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
    -ms-transform-origin-x: 0%;
}

/*main*/

body {
    background-color: #fcfaf7;
    color: #000000;
    font-family: futura;
}

h1 {
    color:#000000;
    font-size: 42pt;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease; /* 1s ist die Dauer der Transition, du kannst es nach Bedarf ändern */
}

.site-title {
    position: relative;
    z-index: 1;
}

ul {
    background-color: #000000;
    padding-top: 120px;
}

main {
    font-family: futura;
    padding-top: 70pX;
    padding-left: 250px;
    padding-right: 250px;
    text-align: justify;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}
/*Kontaktformular*/
.main {
    font-family: futura;
    font-size: 14pt;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#contact-form {
    background-color: #fcfaf7;
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    gap: 20px;
}

#message {
    height: 150px;
}

#success-message {
    display: none;
    text-align: center;
    font-family: futura;
    font-size: 20pt;
    margin-top: 40px;
}

#success-message img {
    max-width: 100%; /* Stelle sicher, dass das Bild nicht breiter als der Container ist */
    margin-top: 20px; /* Füge einen Abstand oberhalb des Bildes hinzu */
}

#submit-button {
    font-family: futura;
    background-color: #000000;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #ddcdc0;
}

#submit-button-container {
    display: flex;
    justify-content: flex-end;
}

/*footer*/
footer {
    background-color: #ddcdc0; 
    text-align: center;
    margin-top: 100px;
    padding: 30px;
   
}

.footer-content {
    display: flex;
    flex-direction: row; /* Behalte row für nebeneinander */
    align-items: center;
    justify-content: center; /* Zentriere den Text horizontal */
    margin: 0 auto; /* Zentriere den Abschnitt horizontal */

}

.footer-content p {
    margin: 20px 150px;
    text-align: center;
    cursor: pointer;

}

.footer-content a {
    text-decoration: underline;
    color: black;
    font-size: 12pt;
    font-weight: bold;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px; /* Negative Margin, gleich der Footer-Höhe */
}

html, body {
    height: 100%;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    header, .navbar {
        width: 100%;
    }

    .menu {
        width: 100%;
    }

    main {
        padding: 20px; /* Verringere den Abstand im Hauptinhalt */
        text-align: center; /* Zentriere den Text im Hauptinhalt */
    }

    h1 {
        font-size: 32pt; /* Verringere die Schriftgröße des H1-Titels */
    }

    #contact-form {
        width: 100%; /* Volle Breite für das Kontaktformular */
    }

    #submit-button-container {
        justify-content: center; /* Zentriere den Absenden-Button */
    }

    footer {
        margin-top: 30px;
        padding: 15px;
    }

    .footer-content {
        flex-direction: column; /* Ändere von Reihe (row) zu Spalte (column) */
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .footer-content p {
        margin: 10px 0; /* Anpassung des Abstands zwischen den Wörtern */
    }
}