/*Kontakt*/
header {
    font-family: futura;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: none;
    position: fixed;
    width: 98%;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: none;
    padding: 10px 20px;
    width: 98%;
}
.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 9;
}

.bar {
    background-color: rgb(0, 0, 0);
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: all 0.3s ease;
}

.menu {
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 60px;
    right: 0;
    width: 25%;
    text-align: center;
    padding: 150px 20px 20px;
    transition: width 0.3s ease; /* Animiere die Breite des Menüs */
    transform: translateX(100%);
    position: fixed;
    height: 100vh;
    top: 0;
}

.menu a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.menu.active {
    display: flex;
    animation: slideIn 0.3s ease forwards;
    width: 25%;
}

.menu.active a {
    opacity: 1;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    -ms-transform-origin-x: 0%;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
    -ms-transform-origin-x: 0%;
}

/*main*/

body {
    background-color: #fcfaf7;
    color: #000000;
    font-family: futura;
}

h1 {
    color:#000000;
    font-size: 42pt;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease; /* 1s ist die Dauer der Transition, du kannst es nach Bedarf ändern */
}

.site-title {
    position: relative;
    z-index: 1;
}

ul {
    background-color: #000000;
    padding-top: 120px;
}

main {
    font-family: futura;
    padding-top: 70pX;
    padding-left: 250px;
    padding-right: 250px;
    text-align: justify;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}
/*Kontaktformular*/
.main {
    font-family: futura;
    font-size: 14pt;;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#contact-form {
    background-color: #fcfaf7;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    padding: 150px;
    flex-direction: column;
    gap: 20px;
}

#success-message {
    display: none;
    text-align: center;
}

button {
    font-family: futura;
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #227326;
}

/*footer*/
footer {
    background-color: #ddcdc0; 
    text-align: center;
    margin-top: 100px;
    padding: 30px;
   
}

.footer-content {
    display: flex;
    flex-direction: row; /* Behalte row für nebeneinander */
    align-items: center;
    justify-content: center; /* Zentriere den Text horizontal */
    margin: 0 auto; /* Zentriere den Abschnitt horizontal */

}

.footer-content p {
    margin: 20px 150px;
    text-align: center;
    cursor: pointer;

}

.footer-content a {
    text-decoration: underline;
    color: black;
    font-size: 12pt;
    font-weight: bold;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px; /* Negative Margin, gleich der Footer-Höhe */
}

html, body {
    height: 100%;
    margin: 0;
}
